<a href="https://colab.research.google.com/github/falahamro/Deep-Learning/blob/main/MultipleLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multiple Linear Regression Model For Predicting Insurance Amount Based Upon Few Health Features

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Read CSV

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Data Science Challenges /insurance.csv")

In [4]:
print('\n number of rows in dataframe as ', df.shape[0])
print('\n number of columns or features in dataframe as ', df.shape[1])

 number of rows in dataframe as  1338

 number of columns or features in dataframe as  7

EDA

In [5]:
# See few reocrds of the datafrome
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [6]:
# Seperating our indepent variables

x = df.iloc[:,:-1]
x

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [7]:
# defining our dependent variablee

y = df.iloc[:,6]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

Feature Engineering

In [8]:
# convert categoritical values into numerical 

male_or_female = pd.get_dummies(x['sex'], drop_first=False)

In [9]:
male_or_female

      female  male
0          1     0
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
1333       0     1
1334       1     0
1335       1     0
1336       1     0
1337       1     0

[1338 rows x 2 columns]

In [10]:
smoker_or_nosmoker =pd.get_dummies(x['smoker'],drop_first = False)

In [11]:
smoker_or_nosmoker

      no  yes
0      0    1
1      1    0
2      1    0
3      1    0
4      1    0
...   ..  ...
1333   1    0
1334   1    0
1335   1    0
1336   1    0
1337   0    1

[1338 rows x 2 columns]

In [12]:
region_ = pd.get_dummies(x['region'], drop_first=False)
region_

      northeast  northwest  southeast  southwest
0             0          0          0          1
1             0          0          1          0
2             0          0          1          0
3             0          1          0          0
4             0          1          0          0
...         ...        ...        ...        ...
1333          0          1          0          0
1334          1          0          0          0
1335          0          0          1          0
1336          0          0          0          1
1337          0          1          0          0

[1338 rows x 4 columns]

In [13]:
#Drop sex categorical column from dataset
x=x.drop('sex', axis=1)
x[0:3]

   age    bmi  children smoker     region
0   19  27.90         0    yes  southwest
1   18  33.77         1     no  southeast
2   28  33.00         3     no  southeast

In [14]:
# similarly drop smoker and region
x = x.drop('smoker', axis=1)
x[0:3]

   age    bmi  children     region
0   19  27.90         0  southwest
1   18  33.77         1  southeast
2   28  33.00         3  southeast

In [15]:
# drop region column
x = x.drop('region', axis = 1)
x[0:3]

   age    bmi  children
0   19  27.90         0
1   18  33.77         1
2   28  33.00         3

In [16]:
# Concat the numerical forms of the csategorical columns 
x=pd.concat([x,male_or_female],axis=1)
x[0:3]

   age    bmi  children  female  male
0   19  27.90         0       1     0
1   18  33.77         1       0     1
2   28  33.00         3       0     1

In [17]:
x=pd.concat([x,smoker_or_nosmoker],axis=1)
x[0:10]

   age     bmi  children  female  male  no  yes
0   19  27.900         0       1     0   0    1
1   18  33.770         1       0     1   1    0
2   28  33.000         3       0     1   1    0
3   33  22.705         0       0     1   1    0
4   32  28.880         0       0     1   1    0
5   31  25.740         0       1     0   1    0
6   46  33.440         1       1     0   1    0
7   37  27.740         3       1     0   1    0
8   37  29.830         2       0     1   1    0
9   60  25.840         0       1     0   1    0

In [18]:
x=pd.concat([x,region_],axis=1)

In [19]:
x[0:5]

,age,bmi,children,female,male,no,yes,northeast,northwest,southeast,southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [20]:
#independent features = [age','bmi','children','female','male','no','yes','northeast','northwest','southeast','southwest']
from sklearn.preprocessing import MinMaxScaler

In [21]:
scaler = MinMaxScaler()

In [22]:
model = scaler.fit(x)
x=model.transform(x)
print(x)

[[0.02173913 0.3212268  0.         ... 0.         0.         1.        ]
 [0.         0.47914985 0.2        ... 0.         1.         0.        ]
 [0.2173913  0.45843422 0.6        ... 0.         1.         0.        ]
 ...
 [0.         0.56201238 0.         ... 0.         1.         0.        ]
 [0.06521739 0.26472962 0.         ... 0.         0.         1.        ]
 [0.93478261 0.35270379 0.         ... 1.         0.         0.        ]]

Train and Test Split

In [24]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

Model creation and Training

In [25]:
#now create the model and train it over training data
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [26]:
#now predict the values for the test data
y_pred = model.predict(x_test)
y_pred

array([11392.,  9280., 38400., 16640.,  6784.,  4224.,  1408., 14208.,
        8768.,  7744.,  4160., 10112.,  8704.,  3584., 28224., 10432.,
       11584.,  6336.,  8448., 27328., 33856., 14272., 11584., 31872.,
        4352.,  9472.,   896.,  9472.,  3584., 10688.,  8768., 40256.,
       16128., 14208., 24512.,  4992., 12800., 30976., 33344.,  3584.,
        3840.,  4160., 30720., 39744., 27584.,  4928., 10304.,  8064.,
        3392.,  9920.,  5568.,  3200., 33280., 38208., 15872.,  7424.,
        5952.,  9728.,  8896., 11968.,  2176., 39104., 15040., 12160.,
       14144., 13952., 25984., 32448.,   448., 10304., 12288., 11648.,
       25472., 15488., 11136., 12480.,  6912.,  9728., 29952., 39424.,
       11904., 37056.,  4544.,  9600., 35008., 28992.,  8576.,  5248.,
       12288., 30848.,  9792., 11776.,  8256.,  8640.,  8704.,  7168.,
       36224., 33408.,  7488., 15488.,  4224.,  9152.,  6016., 31744.,
       33088.,  1856.,  9344.,  6656., 14848., 37504.,  9920., 10816.,
       10112., 27200., 40064.,  8640.,   512.,  9344., 15616.,  9728.,
       35200.,  7168., 17024.,  9856.,  8192.,  2752., 32704., 31680.,
       39936.,  5952.,  9024.,  3712.,  7424.,  8832., 32000., 30336.,
       29888.,  8448., 32192.,  3584.,  3648., 11456., 13312., 13120.,
        5696., 15424., 14720.,  2176.,   320., 11008.,  7232., 32064.,
       12608.,  2496.,  6336.,  7616.,  4672.,  2240., 11136., 12352.,
        7424., 16640., 11712., 14464.,  3008.,  7424., 22912.,  7296.,
        5696.,  4992.,  7040.,  5376.,  9856.,  5568.,  6016.,  6720.,
        3904.,  5760., 38208.,  1728., 12480.,  9216., 14144.,  5632.,
        5376., 36672.,  4672.,  1920., 15168., 12480., 35328.,  4480.,
        5632., 31360.,  6528.,  2432.,  8704.,  9792.,  8192.,  6080.,
       12992., 38656., 13632., 29056.,  7104., 35328.,  3968., 12096.,
        8768.,  6464., 11584., 14400.,  4992.,  4352.,  8192.,  1664.,
        8064.,  4224., 12608.,  3968.,  9984.,  6912.,  9216.,  2240.,
       13184., 17216., 14720., 10496.,  5312.,  2432.,  2112., 13696.,
       13888.,  4672.,  3520.,  9728.,  9792., 28480.,  7808., 10240.,
        6272., 30016., 11008.,  7296., 10432., 12480.,  3200., 10816.,
        1344.,  7168., 28160., 38528.,  6272.,  8000.,  2368.,   640.,
       10880.,  4032.,  5120.,  2048.,  6848., 33280., 38464., 14592.,
        8512., 16448., 32576.,  9600.])

Model Score

In [27]:
from sklearn.metrics import r2_score # r2_score is used to compare the values which are predicted by model and actual values
                                        # so that we can find out accuracy of our model
score=r2_score(y_test,y_pred)
score

0.7986354322600837